<h1>Get Employee</h1>

<form (ngSubmit)="onSubmit()">

    <button type="submit" class="btn btn-primary">Search All</button>

</form>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.email }}</td>
                <td>
                    <button (click)="updateEmployee(employee.id)">Update</button>
                    <button (click)="deleteEmployee(employee.id)">Delete</button>
                    <button (click)="viewEmployee(employee.id)">View Detail</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>